<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto - LMH I&S</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header-footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    {% include 'includes/header.html' %}

    <section id="contact" class="contact section animate-up">
      <div class="container">
        <h2>📩 Contáctanos</h2>
        <form name="contacto-LMH" class="contact-form">
          <input type="text" name="nombre" placeholder="Tu nombre" required />
          <input type="email" name="email" placeholder="Tu correo" required />
          <textarea name="mensaje" placeholder="Tu mensaje" required></textarea>
          <button type="submit" class="btn-primary">Enviar</button>
        </form>
      </div>
    </section>

    {% include 'includes/footer.html' %}
  </body>
</html>
